
<h1>Les supers concerts</h1>

<table>
  <thead>
  <tr>
    <th>Concert </th>
    <th>Artiste</th>
    <th>Date</th>
    <th>Scène</th>
    <th>Lieu</th>
    <th>Météo</th>
    <th>Température</th>
  </tr>
  </thead>
  <tr *ngFor="let concert of concertDatas" >
    <td>  {{ concert.nom }}</td>
    <td>    {{concert.artistes.nom}}</td>
    <td>    {{concert.horaires | date :'short'}}</td>
    <td>    {{concert.scenes}}</td>
    <td>    {{concert.weather.name}}</td>
    <td>        {{concert.weather.weather[0].description}}</td>
    <td>    {{concert.weather.main.temp}}°</td>
  </tr>
</table>




